        .navbar-brand {
            font-weight: bold;
            font-size: 1.5rem;
        }

        .footer {
            background-color: #f8f9fa;
            padding: 2rem 0;
            margin-top: 3rem;
        }

        .book-card {
            transition: transform 0.2s;
            height: 100%;
        }

        .book-card:hover {
            transform: translateY(-5px);
        }

        .hero-section {
            background: linear-gradient(135deg, #79ffcc 0%, #161163 100%);
            color: rgb(255, 255, 255);
            padding: 4rem 0;
        }

        .stats-card {
            border-left: 4px solid #007bff;
        }

        .bagel-fat-one-regular {
            font-family: "Bagel Fat One", system-ui;
            font-weight: 100;
            font-style: normal;
            transition: color 0.3s ease;
            /* Añade una transición suave */
        }

        .playwrite-au-tas-bold {
            font-family: "Playwrite AU TAS", cursive;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }
    .playwrite-au-tas-semibold {
            font-family: "Playwrite AU TAS", cursive;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
        }
        .playwrite-au-tas-normal {
            font-family: "Playwrite AU TAS", cursive;
            font-optical-sizing: auto;
            font-weight: 200;
            font-style: normal;
        }
        .playwrite-au-tas-light {
            font-family: "Playwrite AU TAS", cursive;
            font-optical-sizing: auto;
            font-weight: 100;
            font-style: normal;
        }